<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Your To-Do List</title>
</head>
<body>
    <%- include('header') %>

    <div class="container mt-5">
        <h2>Your To-Do List</h2>
        <ul class="list-group">
            <% todos.forEach(todo => { %>
                <li class="list-group-item"><%= todo.item %></li>
            <% }) %>
        </ul>
        <a href="/compose" class="btn btn-primary mt-3">Add New To-Do</a>
    </div>

    <%- include('footer') %>
</body>
</html>
